
    <!-- ====================================== HEADER PART START ====================================== -->

    <div class="mybox" *ngIf="showTable">
        <div class="mybox-header">
            <span>
      <strong>
        <label>ALL RECEIPTS</label>
      </strong>
    </span>
        </div>
        <div class="middle">
            <div class="row">
                <div class="col-lg-3">
                    <app-financial-year (newItemEvent)="changeFinancialYear($event)"></app-financial-year>
                </div>
                <div class="col-lg-3">
                    <label>From date :</label>
                    <input type="date" class="form-control" [(ngModel)]="fromDate">
                </div>
                <div class="col-lg-3">
                    <label>To date :</label>
                    <input type="date" class="form-control" [(ngModel)]="toDate">
                </div>
            </div>
        </div>
        <!-- <div ng-repeat="post in postsList | dateRange : from_date : to_date | filter: {user_id: userSelect || undefined}: true | filter: {department_id: departmentSelect || undefined}: true">...</div> -->
    </div>

    <!-- ====================================== HEADER PART ENDS ====================================== -->

    <!-- ====================================== HEADER PART START ====================================== -->

    <div class="loader">
        <div *ngIf="loader" class="spinner-border text-info"></div>
    </div>

    <!-- ====================================== HEADER PART ENDS ====================================== -->

    <!-- ====================================== RECEIPT LIST PART START ====================================== -->

    <div class="mybox" *ngIf="showTable">
        <div class="mybox-header">
            <span>
      <strong>
        <label>RECEIPT</label>
      </strong>
    </span>
        </div>
        <div>
            <div *ngIf="ledgers.length == 0">
                No record found on financial year {{ fin_year }}.
            </div>
            <div *ngIf="ledgers.length != 0">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="orderListTable" style="text-align: center;">
                        <caption></caption>
                        <thead>
                            <tr>
                                <th scope="col">SL.</th>
                                <th scope="col" style="width: 10%;">Date</th>
                                <th scope="col" style="width: 21%;">Reference no.</th>
                                <th scope="col">Perticulars</th>
                                <th scope="col" style="width: 13%;">Credit(&#8377;)</th>
                                <th scope="col">Balance(&#8377;)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of ledgers; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ x.date | date: 'dd-MM-y' }}</td>
                                <td>{{ x.reference_no }}</td>
                                <td>{{ x.perticulars }}
                                    <div *ngIf=x.links style="text-align: center;">
                                        <a class="btn btn-link" (click)="showReceipt(x.reference_no);" style="font-size: smaller;color: green;">Print Receipt</a>
                                        <a class="btn btn-link" (click)="showDetails(x.reference_no);" style="font-size: smaller;color: green;">View Ledger</a>
                                    </div>
                                </td>
                                <td>{{ x.ammount | number }}</td>
                                <td>{{ x.balance | number }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: right;"><strong>Total (&#8377;)</strong></td>
                                <td>{{ totalCredit | number }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- ====================================== RECEIPT LIST PART ENDS ====================================== -->

    <!-- ====================================== CASHBOOK PART START ====================================== -->

    <div *ngIf="showCashBook">
        <button class="btn btn-info btn-sm topBack" (click)="back();"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</button>
        <div class="mybox">
            <div class="mybox-header">
                <span>
          <strong>
            <label>CASHBOOK</label>
          </strong>
        </span>
            </div>
            <div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="orderListTable" style="text-align: center;">
                        <caption></caption>
                        <thead>
                            <tr>
                                <th scope="col">SL.</th>
                                <th scope="col">Date</th>
                                <th scope="col">Reference no.</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Credit(&#8377;) </th>
                                <th scope="col">Debit(&#8377;)</th>
                                <th scope="col">Balance(&#8377;)</th>
                                <th scope="col">Purpose</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of allData; let i = index;">
                                <td>{{ i + 1 }}</td>
                                <td>{{ x.date | date: 'dd-MM-yyyy' }}</td>
                                <td>{{ x.reference_no }}</td>
                                <td>{{ x.from_name }}</td>
                                <td>{{ x.to_name }}</td>
                                <td>{{ x.credit | number }}</td>
                                <td>{{ x.debit | number }}</td>
                                <td>{{ x.balance | number }}</td>
                                <td>{{ x.purpose}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total(&#8377;)</strong></td>
                                <td>{{ totalCredit | number }}</td>
                                <td>{{ totalDebit | number }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bottomBack">
                    <button class="btn btn-info btn-sm" (click)="back();"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ====================================== CASHBOOK PART ENDS ====================================== -->

    <!-- ====================================== PRINT RECEIPT PART START ====================================== -->

    <div *ngIf="printPage" id="print">
        <button class="btn btn-info btn-sm topBack" (click)="back();"><i class="fas fa-arrow-left" aria-hidden="true"></i></button>
        <div class="mybox">
            <div class="mybox-header">
                <span>
          <strong>
            <label>MONEY RECEIPT</label>
          </strong>
        </span>
            </div>
            <div>
                <%- include('../common/moneyReceipt.ejs') -%>
                    <div class="bottomBack">
                        <button class="btn btn-info btn-sm" (click)="back();"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</button>
                        <button class="btn btn-info btn-sm" printTitle="Money receipt" [useExistingCss]="true"
                        printSectionId="print" ngxPrint>Print <i class="fas fa-print" aria-hidden="true"></i></button>
                    </div>
            </div>
        </div>
    </div>

    <!-- ====================================== PRINT RECEIPT PART ENDS ====================================== -->


