
    <!-- Footer -->
    <footer class="page-footer" style="background-color: #28333e;">
        <div class="container text-center" style="color: white">
            <img src="../../images/niclogo1.png" alt="NIC" width="17%"> © 2019 Copyright:
            <a href="https://www.nic.in/" style="color: white"> National Informatics Center, Odisha State Center</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->



    <script src="/js/SHA-256.js"></script>
    
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>

</html>