
<!-- ====================================== HEADER PART START ====================================== -->

<div class="mybox" *ngIf="first_card">
    <div class="mybox-header">
      <span>
        <strong>
          <label>Re-Print MRR</label>
        </strong>
      </span>
    </div>
    <div class="middle">
      <div class="row">
        <div class="col-lg-4 col-sm-12 col-xs-12">
            <app-financial-year (newItemEvent)="changeFinancialYear($event)"></app-financial-year>
        </div>
        <div class="col-lg-3">
          <label>From date:</label>
          <input type="date" class="form-control" [(ngModel)]="fromDate">
        </div>
        <div class="col-lg-3">
          <label>To date:</label>
          <input type="date" class="form-control" [(ngModel)]="toDate">
        </div>
        <div class="col-lg-2">
          <button class="btn btn-info" style="margin-top: 13%;"><i class="fa fa-search"></i> Search</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- ====================================== HEADER PART ENDS ====================================== -->
  
  <!-- ====================================== LOADER PART START ====================================== -->
  
  <div class="loader">
    <div data-*ngIf="loader" class="spinner-border text-info"></div>
  </div>
  
  <!-- ====================================== LOADER PART ENDS ====================================== -->
  
  <!-- ====================================== ORDERS LIST PART START ====================================== -->
  
  <div class="mybox" *ngIf="showTable">
    <div class="mybox-inner-header">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
        <strong>
          <label>MRR List</label>
        </strong>
        </div>
        <div class="col-3">
            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter MRR ID" [(ngModel)]="search_mrr_id">
            </div>
        </div>
      </div>
    </div>
    <div>
      <div class="no-record" *ngIf="mrr_list.length == 0">
        No record found
      </div>
      <div *ngIf="mrr_list.length != 0">
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="allListTable" style="text-align: center;">
          <caption></caption>
          <thead>
            <tr>
              <th scope="col">SL.</th>
              <th scope="col">MRR ID</th>
              <th scope="col">Date</th>
              <th scope="col">Item received</th>
              <th scope="col">Invoice no.</th>
              <th scope="col">P.O. no.</th>
              <th scope="col">View Invoice</th>
              <th scope="col">View MRR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of mrr_list | search: search_mrr_id;let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ x.MRRNo }}</td>
              <td>{{ x.InsertedDate | date:'dd-MM-yyyy' }}</td>
              <td>{{ x.NoOfItemReceived }}</td>
              <td>{{ x.InvoiceNo }}</td>
              <td>{{ x.PONo }}</td>
              <td>
                <a href="{{x.InvoicePath}}" target="_blank">
                  <button class="btn btn-outline-info round"><i class="fas fa-file-pdf" aria-hidden="true"></i></button>
                </a>
              </td>
              <td><button class="btn btn-outline-info round" (click)="showMRR(x)" data-toggle="modal"
                  data-target="#viewDetails">
                  <i class="fas fa-bars" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  
  <!-- ====================================== ORDERS LIST PART ENDS ====================================== -->
  
  <!-- ====================================== MRR RECEIPT PRINT PART START ====================================== -->
  
  <div *ngIf="printPage">
      <button class="btn btn-info btn-sm topBack" (click)="back()"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</button>
      <div class="mybox">
        <div class="mybox-header">
          <span>
            <strong>
              <label>MATERIAL RECEIPT REPORT</label>
            </strong>
          </span>
        </div>
        <div>
          <app-mrr
          [AccountantDetails]="AccountantDetails"
          [DMDetails]="DMDetails"
          [printData]="printData"
          [vendorDetails]="vendorDetails"
          [invoice]="invoice"
          [mrr]="mrr"
          id="printPageID"
          ></app-mrr>
          <div class="bottomBack">
            <button class="btn btn-info btn-sm" (click)="back()"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</button>
              <button class="btn btn-info btn-sm" 
              printTitle="Material Receipt Report(MRR)" 
              [useExistingCss]="true" 
              printSectionId="printPageID"
              ngxPrint
              >Print <i class="fas fa-print" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
  </div>
  
  <!-- ====================================== MRR RECEIPT PRINT PART ENDS ====================================== -->
  