
      </div>
      <!-- /.container-fluid -->

      <br>
      <br>
      
      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <img src="../../images/niclogo1.png" alt="NIC" width="15%">
            © 2019 Copyright:
              <a href="https://www.nic.in/"> National Informatics Center, Odisha State Center</a>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper --> 

  <!-- Bootstrap core JavaScript-->
  <!-- <script type="text/javascript" src="../../new/vendor/jquery/jquery.min.js" defer></script> -->
  <!-- <script type="text/javascript" src="../../new/vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script> -->

  <!-- Core plugin JavaScript-->
  <!-- <script type="text/javascript" src="../../new/vendor/jquery-easing/jquery.easing.min.js" defer></script> -->
  <!-- <script type="text/javascript" src="../../../new/js/linq.min.js" defer></script> -->
  <!-- Custom scripts for all pages-->
  <!-- <script type="text/javascript" src="../../new/js/sb-admin.min.js" defer></script> -->
</body>

</html>