<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="distcode" content="<%= distcode %>">
    <meta name="userid" content="<%= userId %>">
    <title>OAIC-Accountant </title>

    <link rel="icon" href="/images/oaic.png">
    <link href="/new/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/new/css/sb-admin.css" rel="stylesheet">
    <script type="text/javascript" src="/new/vendor/angular/angular.min.js"></script>
    <link rel="stylesheet" href="/new/css/myStyle.css">
    <script type="text/javascript" src="/controller/commonFunctions.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="/new/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/new/vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="/new/vendor/jquery-easing/jquery.easing.min.js" defer></script>
    <script type="text/javascript" src="/new/js/linq.min.js" defer></script>
    <!-- Custom scripts for all pages-->
    <script type="text/javascript" src="/new/js/sb-admin.min.js" defer></script>
</head>

<body id="page-top" data-ng-app="myApp" data-ng-controller="myCtrl">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="" style="font-size: 1.1rem;">Odisha Agro Industries <br> Corporation Limited
      (OAIC)</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars" aria-hidden="true"></i>
    </button>

        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw" aria-hidden="true" style="font-size: 40px;color: white;"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="/changePassword">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" id="dashboard">
                    <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ordersLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
                    <span>Money Receipt</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" id="ordersDropDown">
                    <a class="dropdown-item" href="/user-login/#/accountant/receive-money-against-permit" id="moneyReceiptSubItem"><i class="far fa-circle" aria-hidden="true"></i> Against Permit </a>
                    <a class="dropdown-item" href="/user-login/#/accountant/receive-money-other-than-permit" id="directSaleToFarmerSubItem"><i class="far fa-circle" aria-hidden="true"></i> Other than Permit</a>
                    <a class="dropdown-item" href="/user-login/#/accountant/partly-money-receive" id="receiveFarmerPartPaymentSubItem"><i class="far fa-circle" aria-hidden="true"></i> Partly Receive</a>
                    <a class="dropdown-item" href="/user-login/#/accountant/re-print-money-receipt" id="rePrintMRSubItem"><i class="far fa-circle" aria-hidden="true"></i> Re-print M.R.</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="indentLink" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
                    <span>Purchase Order</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" id="indentDropDown">
                    <a class="dropdown-item" href="/user-login/#/accountant/po/initiate" id="ganerateIndentSubItem"><i class="far fa-circle" aria-hidden="true"></i> Initiate</a>
                    <a class="dropdown-item" href="/user-login/#/accountant/po/re-print" id="rePrintIndentSubItem"><i class="far fa-circle" aria-hidden="true"></i> Re-print</a>
                    <a class="dropdown-item" href="/user-login/#/accountant/po/cancellation" id="cancellationSubItem"><i class="far fa-circle" aria-hidden="true"></i> Cancellation</a>
                    <a class="dropdown-item" href="/user-login/#/accountant/po/report" id="cancelledIndentSubItem"><i class="far fa-circle" aria-hidden="true"></i> Cancelled Orders</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="mrrLink" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
                    <span >Material Receipt Report <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(MRR)</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" id="mrrDropDown">
                    <a class="dropdown-item" href="/user-login/#/accountant/generate-mrr" id="ganerateMrrSubItem"><i class="far fa-circle" aria-hidden="true"></i> Generate</a>
                    <a class="dropdown-item" href="/user-login/#/accountant/re-print-mrr" id="rePrintMrrSubItem"><i class="far fa-circle" aria-hidden="true"></i> Re-print</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="deliveryLink" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
                    <span>Invoice</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" id="deliveryDropDown">
                    <a class="dropdown-item" href="/accountant/deliverToCustomer" id="dtcSubItem"><i class="far fa-circle" aria-hidden="true"></i> Deliver & Generate<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invoice</a>
                    <a class="dropdown-item" href="/accountant/deliveredToCustomer" id="dtcReportSubItem"><i class="far fa-circle" aria-hidden="true"></i> Re-print</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dealerPayLink" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
                    <span>Vendor pay</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" id="dealerPayDropDown">
                    <a class="dropdown-item" href="/accountant/payToDelear" id="payToDealerSubItem"><i class="far fa-circle" aria-hidden="true"></i> Pay to Vendor</a>
                    <a class="dropdown-item" href="/accountant/dealerPartPayment" id="dealerPartPaymentSubItem"><i class="far fa-circle" aria-hidden="true"></i> Part Payment</a>
                    <a class="dropdown-item" href="/accountant/payToDelearReport" id="dealerPayReportSubItem"><i class="far fa-circle" aria-hidden="true"></i> Report</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="ledgerLink" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
                    <span>Ledger</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" id="ledgerDropDown">
                    <a class="dropdown-item" href="/user-login/#/accountant/project-wise-ledger" id="projectWiseLedgerSubItem"><i class="far fa-circle" aria-hidden="true"></i> Project wise</a>
                    <a class="dropdown-item" href="/user-login/#/accountant/vendor-wise-ledger" id="dealerWiseLedgerSubItem"><i class="far fa-circle" aria-hidden="true"></i> Vendor wise</a>
                    <a class="dropdown-item" href="/user-login/#/accountant/global-ledger" id="globalLedgerSubItem"><i class="far fa-circle" aria-hidden="true"></i> Global</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="cashBookLink" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
                    <span>Cash Book</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" id="cashBookDropDown">
                    <a class="dropdown-item" href="/user-login/#/accountant/receipts" id="cbReceiptSubItem"><i class="far fa-circle" aria-hidden="true"></i> Receipt</a>
                    <a class="dropdown-item" href="/user-login/#/accountant/payments" id="cbPaymentsSubItem"><i class="far fa-circle" aria-hidden="true"></i> Payments</a>
                    <a class="dropdown-item" href="/user-login/#/accountant/consolidated-cashbook" id="cbConsolidatedSubItem"><i class="far fa-circle" aria-hidden="true"></i> Consolidated</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="backlogBalanceLink" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
                    <span>Backlog balance</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" id="blbDropDown">
                    <a class="dropdown-item" href="/user-login/#/accountant/recieve-opening-balance" id="blbReceiveMoneySubItem"><i class="far fa-circle" aria-hidden="true"></i> Receive money</a>
                    <a class="dropdown-item" href="/user-login/#/accountant/paid-opening-balance" id="blbPayMoneySubItem"><i class="far fa-circle" aria-hidden="true"></i> Pay money</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="stockLink" href="/user-login/#/accountant/stock">
                    <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
                    <span>Stock</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="jobBookLink" href="/user-login/#/accountant/job-book">
                    <i class="fas fa-fw fa-table" aria-hidden="true"></i>
                    <span>Job Book</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="miscExpensesLink" href="/user-login/#/accountant/miscellaneous-expenses">
                    <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
                    <span>Miscellaneous Expenses</span>
                </a>
            </li>
        </ul>

        <div id="content-wrapper">

            <div>
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">
                        <%= moduleName%>
                    </li>
                </ol>