<%- include('common/header.ejs') -%>

<!-- ====================================== HEADER PART START ====================================== -->

<div class="mybox" ng-show="first_box">
  <div class="mybox-header">
    <span>
      <strong>
          <label >GENERATED INVOICE LIST</label>
      </strong>
    </span>
  </div>
  <div class="middle">
    <div class="row">
      <div class="col-lg-3">
        <label>Financial Year:</label>
        <select class="form-control" ng-options="x for x in fin_year_list" ng-model="fin_year" ng-change="loadInvoices()">
          <option value="" disabled>--Select--</option>
        </select>
      </div>
    </div>
  </div>
</div>

<!-- ====================================== HEADER PART ENDS ====================================== -->

<!-- ====================================== LOADER PART START ====================================== -->

<div class="loader">
  <div ng-show="loader" class="spinner-border text-info"></div>
</div>

<!-- ====================================== LOADER PART ENDS ====================================== -->

<!-- ====================================== GENERATED INVOICE LIST PART START ====================================== -->

<div class="mybox" ng-show="show_invoice_list">
  <div class="mybox-header">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-0"></div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-10">
        <strong>
          <label >GENERATED INVOICE LIST</label>
      </strong>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-2">
        <form>
          <div class="input-group mb-3 input-group-sm">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
              </div>
              <input type="text" class="form-control" placeholder="Enter Invoice no." data-ng-model="search_invoice_no">
          </div>
      </form>
      </div>
    </div>
  </div>
<div >
  <div class="no-record" ng-show="invoice_list.length == 0">
    No record found on financial year {{ fin_year }}.
  </div>
  <div ng-show="invoice_list.length != 0">    
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" style="text-align: center;">
      <caption></caption>
      <thead>
        <tr>
          <th scope="col">SL</th>
          <th scope="col">Invoice date</th>
          <th scope="col">Invoice no.</th>
          <th scope="col">No. of items</th>
          <th scope="col">Status</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in invoice_list | filter: { invoice_no: search_invoice_no } | orderBy: '-invoice_date'">
          <td>{{ $index + 1 }}</td>
          <td>{{ x.invoice_date | date: 'dd-MM-y' }}</td>
          <td>{{ x.invoice_no }}</td>
          <td>{{ x.items }}</td>
          <td>{{ x.status | uppercase }}</td>
          <td><button class="btn btn-outline-info round" ng-click="showInvoice(x.invoice_no)"><i class="fas fa-bars" aria-hidden="true"></i></button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
<!-- INVOICE LIST TABLE  END -->
<br>
</div>

<!-- ====================================== GENERATED INVOICE LIST PART ENDS ====================================== -->

<!-- ====================================== PREVIEW INVOICE DETAIL PART START ====================================== -->

<div ng-show="printPage">
  <button class="btn btn-info btn-sm topBack" ng-click="back()"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</button>
  <div class="row" >
    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="mybox " style="height: 450px;">
        <div class="mybox-inner-header">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <strong>
                <h5>Invoice Detail</h5>
              </strong>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
          </div>
        </div>
        <form>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <caption></caption>
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td>Indent No</td>
                  <td>{{ invoice_data.indent_no }}</td>
                </tr>
                <tr>
                  <td>Invoice No</td>
                  <td>{{ invoice_no }}</td>
                </tr>
                <tr>
                  <td>Invoice Date</td>
                  <td>{{ invoice_data.invoice_date | date: 'dd/MM/y' }}</td>
                </tr>
                <tr>
                  <td>View Invoice</td>
                  <td>
                    <a ng-href="{{invoice_data.invoice_path}}" target="_blank">
                    <i class="fas fa-file-pdf" aria-hidden="true"></i>
                  </a>
                </td>
                </tr>
                <tr>
                  <td>Invoice date :</td>
                  <td>{{ invoice_data.bill_date | date: 'dd-MM-y' }}</td>
                </tr>
                <tr>
                  <td>Way Bill No :</td>
                  <td>{{ invoice_data.rr_way_bill_no }}</td>
                </tr>
                <tr>
                  <td>Way Bill Date :</td>
                  <td>{{ invoice_data.rr_way_bill_date | date: 'dd/MM/y' }}</td>
                </tr>
                <tr>
                  <td>Wagon / Truck No :</td>
                  <td>{{ invoice_data.wagon_truck_no }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="mybox" style="height: 450px;">
        <div class="mybox-inner-header">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <strong>
                <h5>Receiver Detail (Bill To)</h5>
              </strong>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
          </div>
        </div>
        <form >
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <caption></caption>
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td>District Name :</td>
                  <td>{{ invoice_data.dist_name }}</td>
                </tr>
                <tr>
                  <td>District Manager Name :</td>
                  <td>{{ invoice_data.dm_name }}</td>
                </tr>
                <tr>
                  <td>Address :</td>
                  <td>{{ invoice_data.dm_address || '--' }}</td>
                </tr>
                <tr>
                  <td>Mobile Number :</td>
                  <td>{{ invoice_data.dm_mobile_no }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="mybox">
    <div class="mybox-inner-header">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <strong>
            <h5>Item Detail</h5>
          </strong>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
      </div>
    </div>
    <div class="table-responsive" ng-show="tax_mode == 1">
        <table class="table table-striped table-bordered">
          <caption></caption>
          <thead>
            <tr>
              <th scope="col">SL.</th>
              <th scope="col">Description of goods and service</th>
              <th scope="col">Quantity</th>
              <th scope="col">Rate per quanity (&#8377;)</th>
              <th scope="col">Taxable value (&#8377;)</th>
              <th scope="col">CGST(&#8377;)</th>
              <th scope="col">SGST(&#8377;)</th>
              <th scope="col">Invoice value (&#8377;)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in invoiceItems">
              <td>{{ $index + 1 }}</td>
              <td style="text-align: left;">
                Implement : {{x.implement}} <br>
                Make : {{x.make}} <br>
                Model : {{x.model}}
              </td>
              <td>{{ x.quantity }}</td>
              <td>{{ x.p_taxable_value | number : '2' }}</td>
              <td>{{ x.taxableValue | number : '2' }}</td>
              <td>{{ x.tax_1 | number  }}</span></td>
              <td>{{ x.tax_2 | number : '2' }}</td>
              <td>{{ x.invoiceValue | number : '2' }}</td>
            </tr>
            <tr>
              <td colspan="5" style="text-align: right;">Sub Total (&#8377;) </td>
              <td colspan="4" style="text-align: left;">
                <strong >{{ total | number:'2' }}</strong></td>
            </tr>
            <tr>
              <td colspan="5" style="text-align: right;">Total Invoice value in word </td>
              <td colspan="4" style="text-align: left;">
                <strong >{{ total | convertToWord }} rupees only /-</strong>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="table-responsive" ng-hide="tax_mode == 1">
        <table class="table table-striped table-bordered">
          <caption></caption>
          <thead>
            <tr>
              <th scope="col">SL.</th>
              <th scope="col">Description of goods and service</th>
              <th scope="col">Quantity</th>
              <th scope="col">Rate per quanity (&#8377;)</th>
              <th scope="col">Taxable value (&#8377;)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in invoiceItems">
              <td>{{ $index + 1 }}</td>
              <td style="text-align: left;">
                Implement : {{x.implement}} <br>
                Make : {{x.make}} <br>
                Model : {{x.model}}
              </td>
              <td>{{ x.quantity }}</td>
              <td>{{ x.p_taxable_value | number : '2' }}</td>
              <td>{{ x.taxableValue | number : '2' }}</td>
            </tr>
            <tr>
              <td colspan="4" style="text-align: right;">My bill amount (&#8377;): </td>
              <td colspan="1" style="text-align: left;">
                <strong >{{ my_bill_amount | number:'2' }}</strong></td>
            </tr>
            <tr>
              <td colspan="4" style="text-align: right;">G.S.T. rate (&#8377;): </td>
              <td colspan="1" style="text-align: left;">
                <strong >{{ invoice_data.gst_rate }}%</strong></td>
            </tr>
            <tr>
              <td colspan="4" style="text-align: right;">C.G.S.T. (&#8377;): </td>
              <td colspan="1" style="text-align: left;">
                <strong >{{ ((my_bill_amount / 100) * invoice_data.gst_rate) / 2 | number:'2' }}</strong></td>
            </tr>
            <tr>
              <td colspan="4" style="text-align: right;">S.G.S.T. (&#8377;): </td>
              <td colspan="1" style="text-align: left;">
                <strong >{{ ((my_bill_amount / 100) * invoice_data.gst_rate) / 2 | number:'2' }}</strong></td>
            </tr>
            <tr>
              <td colspan="4" style="text-align: right;">Sub Total (&#8377;): </td>
              <td colspan="1" style="text-align: left;">
                <strong >{{ total | number:'2' }}</strong></td>
            </tr>
            <tr>
              <td colspan="4" style="text-align: right;">Total Invoice value in word: </td>
              <td colspan="1" style="text-align: left;">
                <strong >{{ total | convertToWord }} rupees only /-</strong>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="middle">
      <button class="btn btn-info btn-sm topBack" ng-click="back()"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</button>
    </div>    
  </div>
</div>

<!-- ====================================== PREVIEW INVOICE DETAIL PART START ====================================== -->



<script>
  var c_fin_year = "<%= c_fin_year %>";
  document.getElementById('rePrintInvoice').classList.add("active");
</script>
<script src="/controller/dealer/re_print_invoice.js"></script>
<%- include('common/footer.ejs') -%>