<!-- ====================================== HEADER PART START ====================================== -->

<div class="mybox" *ngIf="enter_detail1">
    <div class="mybox-header">
        <span>
            <strong>
                <label>RECEIVE BACKLOG MONEY</label>
            </strong>
        </span>
    </div>
    <div class="middle">
        <div class="row">
            <div class="col-lg-4">
              <label>Scheme<span class="asterisk-mark">*</span> : </label>
              <select [(ngModel)]="system" class="form-control" required>
                <option value="" disabled>--select--</option>
                <option value="farm_mechanisation">Farm Mechanisation</option>
                <option value="jalanidhi">Jalanidhi</option>
            </select>
            </div>
            <div class="col-lg-4">
                <label>Choose order type<span class="asterisk-mark">*</span> : </label>
                <select class="form-control" [(ngModel)]="type" (change)="loadOrderNoList();enter_detail2=true;" [disabled]="!system">
                      <option value="" disabled>--select--</option>
                      <option value="new_order">New order</option>
                      <option value="old_order">Existing order</option>
                </select>
              </div>
          </div>
    </div>
</div>

<!-- ====================================== HEADER PART ENDS ====================================== -->

<!-- ====================================== LOADER PART START ====================================== -->
<!-- 
<div class="loader">
    <div *ngIf="loader" class="spinner-border text-info"></div>
</div> -->

<!-- ====================================== LOADER PART ENDS ====================================== -->

<!-- ====================================== ENTER DETAIL PART START ====================================== -->

<div class="mybox" *ngIf="enter_detail2">
    <div class="mybox-header">
        <span>
            <strong>
                <label>Enter detail</label>
            </strong>
        </span>
    </div>
    <div class="middle">
        <form name="myForm">
            <div class="row">
                <div class="col-lg-2">Enter order no.<span class="asterisk-mark">*</span> :</div>
                <div class="col-lg-4" *ngIf="type == 'new_order'">
                    <input type="text" class="form-control" [(ngModel)]="order_no" [ngModelOptions]="{standalone: true}" placeholder="Enter order no." required>
                </div>
                <div class="col-lg-4" *ngIf="type == 'old_order'">
                    <select [(ngModel)]="old_order_no" [ngModelOptions]="{standalone: true}" class="form-control" >
                        <option value="" disabled>--select--</option>
                        <option [ngValue]="x" *ngFor=" let x of order_no_list"> {{ x.order_no }}</option>
                    </select>
                </div>
                <div class="col-lg-2">Receive from<span class="asterisk-mark">*</span> :</div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" [(ngModel)]="receive_from" [ngModelOptions]="{standalone: true}" placeholder="Enter receive from" required>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">Head<span class="asterisk-mark">*</span> :</div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" [(ngModel)]="head" [ngModelOptions]="{standalone: true}" placeholder="Enter head" required>
                </div>
                <div class="col-lg-2">Sub-head<span class="asterisk-mark">*</span> :</div>
                <div class="col-lg-4">
                    <input type="text" class="form-control"[(ngModel)]="subhead" [ngModelOptions]="{standalone: true}" placeholder="Enter sub-head" required>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-2">Amount<span class="asterisk-mark">*</span> :</div>
            <div class="col-lg-4">
                <input type="number" class="form-control" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" min="0" maxlength="14" placeholder="Enter amount" required>
            </div>
            <div class="col-lg-2">Payment date<span class="asterisk-mark">*</span> :</div>
            <div class="col-lg-4">
                <input type="date" class="form-control" [(ngModel)]="payment_date" [ngModelOptions]="{standalone: true}" max="{{c_date | date: 'y-MM-dd' }}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">Payment type<span class="asterisk-mark">*</span> :</div>
            <div class="col-lg-4">
                <select [(ngModel)]="payment_type" [ngModelOptions]="{standalone: true}" class="form-control" (change)="payment_no = ''" required>
                    <option value="" disabled>--select--</option>
                    <option value="DD">DD</option>
                    <option value="Cash">Cash</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Net_Banking">Net Banking</option>
                </select>
            </div>
            <div class="col-lg-2" [ngSwitch]="payment_type">
                <label *ngSwitchCase="'DD'" >Enter DD no<span class="asterisk-mark">*</span> :</label>
                <label *ngSwitchCase="'Cheque'" >Enter cheque no<span class="asterisk-mark">*</span> :</label>
                <label *ngSwitchCase="'Net_Banking'" >Enter transaction ID<span class="asterisk-mark">*</span> :</label>
            </div>
            <div class="col-lg-4" *ngIf="payment_type">
                <input type="text" class="form-control" *ngIf="payment_type != 'Cash'" [(ngModel)]="payment_no" [ngModelOptions]="{standalone: true}" placeholder="Enter payment number." required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">Remark<span class="asterisk-mark">*</span> :</div>
            <div class="col-lg-4">
                <textarea rows="4" class="form-control" [(ngModel)]="remark" [ngModelOptions]="{standalone: true}" minlength="0" maxlength="500" placeholder="Enter remark within 500 word." required></textarea>
            </div>
        </div>
        <div style="text-align: right;">
            <button class="btn btn-outline-info round"  (click)="receiveOPBalance()">ADD</button>
        </div>
        </form>
    </div>
</div>

<!-- ====================================== ENTER DETAIL PART ENDS ====================================== -->

<!-- ====================================== PRINT PAYMENT RECEIPT PART START ====================================== -->

<div *ngIf="print_page">
    <button class="btn btn-info btn-sm topBack" (click)="back();"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</button>
    <div class="mybox">
        <div class="mybox-header">
            <span>
                <strong>
                <label>MONEY RECEIPT</label>
                </strong>
            </span>
        </div>
        <div>
            <%- include('../common/receive_backlog_receipt.ejs') -%>
            <div class="bottomBack">
                <button class="btn btn-info btn-sm" (click)="back();"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</button>
                <button class="btn btn-info btn-sm" (click)="submit()">SUBMIT</button>
            </div>
        </div>
    </div>
</div>

<!-- ====================================== PRINT PAYMENT RECEIPT PART ENDS ====================================== -->
